* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    text-align: center;
}

/*header*/
header {
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.container-header {
    display: flex;
    justify-content: space-between; /* Garante que a logo e o botão fiquem em lados opostos */
    align-items: center;
    max-width: 1200px; /* não mexer */
    margin: 1px auto; /* Centraliza o contêiner no meio da página */
}

@media (max-width: 768px) {
    .container-header {
        flex-wrap: nowrap;
        justify-content: space-between; /* Centraliza os itens no eixo vertical */
        padding: 10px; /* Ajuste de padding para o mobile */
    }
}

/*Logo*/
.logo img {
    width: 150px;
    height: auto;
}

/*contato*/
.cta a {
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    color: #25D366;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #25D366;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Ícone do WhatsApp fixo */
.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: auto;
    z-index: 1000;
    cursor: pointer;
}

/* Seção Principal - Imagem do Carrossel */
.main-section {
    padding: 20px 0;
}

.carousel-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Ajustes para Mobile */
@media screen and (max-width: 768px) {
    .carousel-image img {
        max-width: 90%;
    }

    .container-header {
        flex-direction: column;
        align-items: center;
    }

    .cta {
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
}

/*Camisa Modal*/
.product-section {
    padding: 20px;
}

.product-section h2 {
    font-size: 2em;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    margin-bottom: 20px;
}

.product-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.product-frame img {
    width: 300px;
    height: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.product-name {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.product-price {
    font-size: 1.6em;
    font-weight: bold;
    color: #333;
}

/*Botão comprar*/
.order-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

.order-button:hover {
    background-color: #45a049;
}

/*Galeria*/
.gallery {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.image {
    margin: 10px;
    width: calc(33.33% - 20px);
    overflow: hidden;
}

.image img {
    width: 100%;
    height: auto;
    transition: transform 0.5s;
}

.image:hover img {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .image {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .image {
        width: calc(50% - 20px);
    }
}

/*Sobre as Camisas*/
.about-section {
    padding: 20px;
    background-color: #f4f4f4;
    margin-top: 50px;
}

.about-section h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    font-size: 1.2em; /* Alterado para unidade relativa */
    border: none;
    cursor: pointer;
}

.footer-button:hover {
    background-color: #45a049;
}

/* Media Queries */
@media (max-width: 768px) {
    .container-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .cta {
        margin-top: 10px; /* Adiciona margem entre a logo e o CTA */
        margin-left: 0; /* Remove a margem esquerda em telas pequenas */
        width: 100%; /* Faz o CTA ocupar a largura total */
    }

    .product-frame img {
        width: 80%; /* Reduz a largura da imagem em dispositivos pequenos */
    }

    .gallery-frame img {
        width: 80%; /* Reduz a largura da galeria em dispositivos pequenos */
    }
}

footer {
    background-color: #f4f4f4;
    color: #000000; /* Cor do texto preta */
    padding: 20px;
    text-align: center; /* Alinha o conteúdo do footer centralizado */
    margin-top: 50px;
}

footer a {
    color: #000000; /* Garante que os links também fiquem na cor preta */
}

footer ul {
    list-style-type: none; /* Remove marcadores de lista */
    padding: 0;
    margin: 0;
}

footer ul li {
    margin-bottom: 10px; /* Espaçamento entre os itens da lista */
    font-weight: normal; /* Remove o negrito dos itens da lista */
}
